.b-board {
    margin: 30px;
    .e-board-row {
        display: flex;

        &:nth-child(odd) {
            margin-left: 15px;
        }

        &:not(:first-child) {
            margin-top: -9px;
        }
    }
}