.b-app {
    display: flex;
    align-items: center;

    .e-btn {
        border: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: none;
        cursor: pointer;
        padding: 25px 80px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        background: #17aa56;
        color: #fff;
        border-radius: 7px;
        box-shadow: 0 5px #119e4d;
        padding: 25px 60px;
        margin-bottom: 20px;

        &:active {
            transform: scale(0.98);
        }
    }
}

.b-grid {
    .e-row {
        display: flex;
    }
    .e-cell {
        display: inline-block;
        border: 1px solid #313131;
        width: 20px;
        height: 20px;
        background-color: #119e4d;

        &.m-active {
            background-color: #06c3ff;
        }
    }
}